<div class="col-sm-6 col-md-6 cust-size-guide">
	<img src=" {{ 'ruler.png' | asset_img_url: '50x' }}" > 
	<p>size guide</p>
</div>

<div class="col-sm-6 col-md-6 cust-return">
	<img src=" {{ 'truck.png' | asset_img_url: '50x' }}" > 
	<p>delivery & return</p>
</div>