<div class="megamenu center  fadein blackout">
<ul class="nav">
<li class="mega-dropdown"> <a href="/collections/newest-products" class="hvr-line-from-center">New In</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-3">
<div class="col " data-list-items="">
<div class="category-title title-border"> <a href="/">New In</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">New In Clothing</a></li>
<li class="active"><a href="/" title="">New In Dresses</a></li>
<li class="active"><a href="/" title="">New In Shoes</a></li>
<li class="active"><a href="/" title="">New In Accessories</a></li>
<li class="active"><a href="/" title="">New In Beauty</a></li>
<li class="active"><a href="/" title="">Back In Stock</a></li>
<li class="active"><a href="/" title="">Shop Instagram</a></li>
</ul>
</div>
<div class="col " data-list-items="">
<div class="category-title title-border"> <a href="/">Featured Shops</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">Shop The Ad</a></li>
<li class="active"><a href="/" title="">Going Out</a></li>
<li class="active"><a href="/" title="">Race Day</a></li>
<li class="active"><a href="/" title="">Prom Shop </a></li>
<li class="active"><a href="/" title="">Occasion Shop</a></li>
<li class="active"><a href="/" title="">Festival</a></li>
<li class="active"><a href="/" title="">Holiday Shop</a></li>
<li class="active"><a href="/" title="">High-Low</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown"> <a href="/collections/best-selling-products" class="hvr-line-from-center">Clothing</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-3">
<div class="col-3 " data-list-items="">
<div class="category-title title-border"> <a href="/">Clothing</a> </div>
<ul class="category-links menu-hj3">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">Jeans</a></li>
<li class="active"><a href="/" title="">Leggings</a></li>
<li class="active"><a href="/" title="">Dresses - from £8</a></li>
<li class="active"><a href="/" title="">Playsuits</a></li>
<li class="active"><a href="/" title="">Trousers</a></li>
<li class="active"><a href="/" title="">Tops - from £4</a></li>
<li class="active"><a href="/" title="">Sweaters & Hoodies</a></li>
<li class="active"><a href="/" title="">Lingerie </a></li>
<li class="active"><a href="/" title="">Bodysuits</a></li>
<li class="active"><a href="/" title="">Swimwear</a></li>
<li class="active"><a href="/" title="">Onesies & Nightwear</a></li>
<li class="active"><a href="/" title="">Crop Tops & Bralets</a></li>
<li class="active"><a href="/" title="">Co-ords</a></li>
<li class="active"><a href="/" title="">Loungewear</a></li>
<li class="active"><a href="/" title="">Coats & Jackets</a></li>
<li class="active"><a href="/" title="">Denim Shop</a></li>
<li class="active"><a href="/" title="">Basics - From £4</a></li>
<li class="active"><a href="/" title="">Knitwear</a></li>
<li class="active"><a href="/" title="">Skirts</a></li>
</ul>
</div>
<div class="col-2 " data-list-items="">
<div class="category-title title-border"> <a href="/">Shop By..</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">Shop The Ad</a></li>
<li class="active"><a href="/" title="">Metallic</a></li>
<li class="active"><a href="/" title="">Festival</a></li>
<li class="active"><a href="/" title="">Ruffles</a></li>
<li class="active"><a href="/" title="">Race Day</a></li>
<li class="active"><a href="/" title="">Going Out</a></li>
<li class="active"><a href="/" title="">Occasion Shop</a></li>
<li class="active"><a href="/" title="">Summer Essentials</a></li>
<li class="active"><a href="/" title="">Holiday Shop</a></li>
<li class="active"><a href="/" title="">Workwear</a></li>
<li class="active"><a href="/" title="">Gingham</a></li>
<li class="active"><a href="/" title="">#PLTSTYLE</a></li>
<li class="active"><a href="/" title="">Bandage</a></li>
<li class="active"><a href="/" title="">Shop Instagram</a></li>
</ul>
</div>
<div class="col-1 " data-list-items="">
<div class="category-title title-border"> <a href="/">PLT Ranges</a> </div>
<ul class="category-links">
<li class="active"><a href="/" title="">PLT Shape</a></li>
<li class="active"><a href="/" title="">PLT Petite</a></li>
<li class="active"><a href="/" title="">PLT Sport</a></li>
<li class="active"><a href="/" title="">PLT Premium</a></li>
<li class="active"><a href="/" title="">PLT Slogan Style</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown "> <a href="/collections/all" class="hvr-line-from-center">Dresses</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-1">
<div class="col " data-list-items="">
<div class="category-title title-border"> <a href="/">Dresses</a> </div>
<ul class="category-links menu-hj-4">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">T-shirt Dresses</a></li>
<li class="active"><a href="/" title="">Mini Dresses</a></li>
<li class="active"><a href="/" title="">Bandage Dresses</a></li>
<li class="active"><a href="/" title="">Going Out Dresses </a></li>
<li class="active"><a href="/" title="">Day Dresses</a></li>
<li class="active"><a href="/" title="">Midi Dresses</a></li>
<li class="active"><a href="/" title="">Jumper Dresses</a></li>
<li class="active"><a href="/" title="">Party Dresses</a></li>
<li class="active"><a href="/" title="">Lace Dresses</a></li>
<li class="active"><a href="/" title="">Maxi Dresses</a></li>
<li class="active"><a href="/" title="">Shirt Dresses</a></li>
<li class="active"><a href="/" title="">Prom Dresses</a></li>
<li class="active"><a href="/" title="">Wedding Guest Dresses</a></li>
<li class="active"><a href="/" title="">Little Black Dresses</a></li>
<li class="active"><a href="/" title="">Celeb Dresses</a></li>
<li class="active"><a href="/" title="">Bodycon Dresses</a></li>
<li class="active"><a href="/" title="">Skater Dresses</a></li>
<li class="active"><a href="/" title="">Little White Dresses</a></li>
<li class="active"><a href="/" title="">SALE Dresses</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown "> <a href="/collections" class="hvr-line-from-center">Shoes</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-4">
<div class="col-3 " data-list-items="">
<div class="category-title title-border"> <a href="/">Shoes</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">Flats</a></li>
<li class="active"><a href="/" title="">Boots</a></li>
<li class="active"><a href="/" title="">Sandals - from £4</a></li>
<li class="active"><a href="/" title="">Heels</a></li>
<li class="active"><a href="/" title="">SALE Shoes</a></li>
</ul>
</div>
<div class="col-2 " data-list-items="">
<div class="category-title title-border"> <a href="/">Shop By Size</a> </div>
<ul class="category-links menu-hj3">
<li class="active"><a href="/" title="">Shoe Uk 2</a></li>
<li class="active"><a href="/" title="">Shoe Uk 5</a></li>
<li class="active"><a href="/" title="">Shoe Uk 8</a></li>
<li class="active"><a href="/" title="">Shoe Uk 3</a></li>
<li class="active"><a href="/" title="">Shoe Uk 6</a></li>
<li class="active"><a href="/" title="">SALE Shoes</a></li>
<li class="active"><a href="/" title="">Shoe Uk 4</a></li>
<li class="active"><a href="/" title="">Shoe Uk 7</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown "> <a href="/collections" class="hvr-line-from-center">Accessories</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-4">
<div class="col-1 " data-list-items="">
<div class="category-title title-border"> <a href="/">Accessories</a> </div>
<ul class="category-links menu-hj5">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">Belts</a></li>
<li class="active"><a href="/" title="">Gifts</a></li>
<li class="active"><a href="/" title="">Socks And Tights</a></li>
<li class="active"><a href="/" title="">Hair Accessories</a></li>
<li class="active"><a href="/" title="">Bags</a></li>
<li class="active"><a href="/" title="">Jewellery - from £2</a></li>
<li class="active"><a href="/" title="">Hats</a></li>
<li class="active"><a href="/" title="">Shapewear</a></li>
<li class="active"><a href="/" title="">Phone Accessories </a></li>
<li class="active"><a href="/" title="">Chokers</a></li>
<li class="active"><a href="/" title="">Earrings</a></li>
<li class="active"><a href="/" title="">Beauty</a></li>
<li class="active"><a href="/" title="">Fancy Dress</a></li>
<li class="active"><a href="/" title="">SALE Accessories</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown "> <a href="/collections" class="hvr-line-from-center">Beauty</a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-3">
<div class="col-5 " data-list-items="">
<div class="category-title title-border"> <a href="/">Beauty</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">Nails</a></li>
<li class="active"><a href="/" title="">Face</a></li>
<li class="active"><a href="/" title="">Body</a></li>
<li class="active"><a href="/" title="">Eyes</a></li>
<li class="active"><a href="/" title="">Hair</a></li>
<li class="active"><a href="/" title="">Lips</a></li>
<li class="active"><a href="/" title="">Tools & Accessories</a></li>
<li class="active"><a href="/" title="">Brows</a></li>
</ul>
</div>
<div class="col-4 " data-list-items="">
<div class="category-title title-border"> <a href="/">Beauty Brands</a> </div>
<ul class="category-links menu-hj-4">
<li class="active"><a href="/" title="">View All</a></li>
<li class="active"><a href="/" title="">Eyelure</a></li>
<li class="active"><a href="/" title="">NCLA</a></li>
<li class="active"><a href="/" title="">Sosu Lashes</a></li>
<li class="active"><a href="/" title="">Beau Belle Brushes</a></li>
<li class="active"><a href="/" title="">Gypsy Shrine</a></li>
<li class="active"><a href="/" title="">Niko Pro</a></li>
<li class="active"><a href="/" title="">Spectrum</a></li>
<li class="active"><a href="/" title="">Beauty Works</a></li>
<li class="active"><a href="/" title="">High Definition Beauty</a></li>
<li class="active"><a href="/" title="">Peaches & Cream</a></li>
<li class="active"><a href="/" title="">St. Moritz</a></li>
<li class="active"><a href="/" title="">Concrete Minerals</a></li>
<li class="active"><a href="/" title="">Lottie London</a></li>
<li class="active"><a href="/" title="">Pretty</a></li>
<li class="active"><a href="/" title="">Sunkissed</a></li>
<li class="active"><a href="/" title="">Contour Cosmetics</a></li>
<li class="active"><a href="/" title="">MDM Flow</a></li>
<li class="active"><a href="/" title="">Sleek</a></li>
<li class="active"><a href="/" title="">Technic</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
<li class="mega-dropdown "> <a href="/collections" class=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1854/4327/files/sale.jpg?15698863755999706123"></a>
<div class="sub-menu" style="max-height: 393px;">
<div class="container">
<div class="megamenu-left width-25"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1854/4327/t/3/assets/111.jpg"></div>
<div class="megamenu-categories column-2">
<div class="col " data-list-items="">
<div class="category-title title-border"> <a href="/">Sale</a> </div>
<ul class="category-links menu-hj">
<li class="active"><a href="/" title="">View All SALE </a></li>
<li class="active"><a href="/" title="">SALE Playsuits & Jumpsuits</a></li>
<li class="active"><a href="/" title="">SALE Dresses</a></li>
<li class="active"><a href="/" title="">SALE Skirts</a></li>
<li class="active"><a href="/" title="">SALE Tops</a></li>
<li class="active"><a href="/" title="">SALE Shorts</a></li>
<li class="active"><a href="/" title="">SALE Coats & Jackets</a></li>
<li class="active"><a href="/" title="">SALE Trousers</a></li>
<li class="active"><a href="/" title="">SALE Knitwear</a></li>
<li class="active"><a href="/" title="">SALE Accessories</a></li>
<li class="active"><a href="/" title="">SALE Denim</a></li>
<li class="active"><a href="/" title="">SALE Shoes</a></li>
</ul>
</div>
</div>
</div>
</div>
</li>
</ul>
</div>
