<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
        
        <div class="form-group">
  <label for="sel1">Find your store</label>
          <form class="form-inline">
<input type="email" class="form-control foot-search" id="email" placeholder="Enter a  province, city or zip code"><button type="submit" class="btn btn-default">SEARCH</button></form></div>
</div>
      <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
  <label for="sel1">Country</label>
  <select class="form-control" id="sel1">
    <option>United Kingdom</option>
  </select>
</div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
  <label for="sel1">Language:</label>
  <select class="form-control" id="sel1">
    <option>English</option>
  </select>
</div>
        </div>
      </div>
    </div>
</div>