<div class="ques-wrap">
    <h2><strong>want some love mail?</strong></h2>
    <div class="our-online-team"><strong>receive news on the latest trends &amp; deals </strong></div>

    <div class="custom-form-wrap">
        <form>
            <input class="form-control cust-text1" type="text" name="email" placeholder="Your email address">
            <input class="btn cust-btn" type="submit" name="submit" value="">
            <span class="right_arrow"></span>
        </form></div>
</div>