<div>
   <img class="header-isif-cart" src=" {{ 'heart_bw.png' | asset_url }}" >

   {% if customer %}
      {{ 'My Wishlist' | link_to: 'https://isawitfirst-dubai.myshopify.com/pages/my-wishlist' }}
   {% else %}
       {{ 'My Wishlist' | link_to: '/pages/sign-in' }}
   {% endif %}
</div>