<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks active" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>

<div class="col-sm-9">


<div id="return" class="tabcontent">
<div class="delivery_guide_title">Returns & Exchanges</div>

<div class="return-content">
	<p class="head">Return Policy</p>
	<p>
Free People will gladly accept unworn, unwashed or faulty merchandise for return or exchange. For returns received within 30 days of delivery, we’ll credit your original form of payment. If received after 30 days, a Free People e-gift card will be issued.</p>
</div>

<p>
If returning swim & intimates or beauty products, please see our policies below. Free People merchandise purchased at independent boutiques and department stores must be returned to the location where purchased. Please contact the individual boutique or store for their return policy.</p>

<p>Returning Merchandise</p>
<p>We offer two ways to return your Free People items! You can use our free returns portal or your own delivery method. Please note that if you use your own method you are responsible for all delivery costs.</p>

<p>Use our Free & Easy Returns Portal!</p>

<p>Enter you order number and e-mail address to select the items you’d like to return in the portal, then print your free return label and affix it to the box. Be sure to complete the dispatch note and include it with your returned items.</p>

<p>Use your own delivery method</p>
<p>You can send items back to us at your own expense to the address below using any trackable/insured delivery method. Sorry, we cannot accept COD returns.</p>

<p>Follow the directions on the back of the dispatch note to return merchandise for credit. Pack all items in a secure box or reuse the original packaging and enclose the dispatch note.</p>

<p>I Saw It First Direct </p>
<p>1 Sparrow Street</p>
....<br>
....<br>
...<br>
  <p>United Kingdom</p>
</div>
  
</div>

</div>
  
</div>