<div class="container custom-space">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks active" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  
  
  

  <div class="col-sm-9">
    <div id="story" class="tabcontent">
      <div class="col-sm-7">
        <div class="delivery_guide_title">Our Story</div>
        <div class="story">
          <p>Back in the 1970's, a young man named Dick Hayne planted a seed in the maze of streets and trees that make up West Philadelphia, Pennsylvania. He opened a store and called it Free People. Free People nurtured the young people who lived there and shopped there, who looked for a little of their own freedom in the clothes they wore.</p>
          <p>As Dick's store grew from one to two, the name was changed from Free People to Urban Outfitters.</p>
          <p>In time, his wife Meg came on to tend Urban's private label division, which supported product exclusive to Urban Outfitters. Demand was almost immediate and to meet this overwhelming need, she and Dick decided to create a wholesale line. It was very well-received, so much so that Dick separated the businesses. For a while, the wholesale line took on many personalities: Bulldog, Ecote, Cooperative, Anthropologie, and then in 1984 a new life was breathed into the name Free People. And that's us.</p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="img-wrap">
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1854/4327/files/story.jpg?2525324251646545461">
        </div>
      </div>
    </div>
  </div>

</div>
  
</div>