<style>
  p{color:#000;}
  .padding0 {
	padding: 0 !important;
}
.margin_0_auto {
	margin: 0 auto;
	padding: 0 !important;
	width: 100%;
}
.product_img {
	width: 100%;
}
.product_img:hover img {
	opacity:0.5;
}


.item_prd {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.item_prd img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item_prd:hover img {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}


.item_prd_full_width {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.item_prd_full_width img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item_prd_full_width:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}



.shop_btn {
	position: absolute;
	top: 35%;
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.9);
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1.7px;
	color: #000;
	left: 0%;
	font-size: 13.7px;
	width:70%;
	text-align: center;
    margin: 15%;
    box-sizing: border-box;
}
.shop_btn:hover {
	color: #fff;
	background: #111;
	text-decoration: none;
}



.col_2_product_margin {
	margin-top: 30px;
	margin-bottom: 30px;
}
.padding_left0{padding-left:0 !important;}
.padding_right0{padding-right:0 !important;}
.left_arrow{background-image: none !important; width:auto !important; top:39% !important;}
.right_arrow{background-image: none !important; width:auto !important; top:39% !important; right:21px !important;}

/*4 May By Manish */
.margin_bottom_10px{margin-bottom:5px; display:inline-block; width:100%; font-family:Arial, Helvetica, sans-serif;}
.alphabet_txt{float:left; width:4%; font-weight:bold; margin-right:5px;}
.mesurment_deskription{width:94%; float:left; font-size:14px;}
.size_guide_accordian{width:100%; border-top:1px solid #999;  padding:10px 0; text-transform:uppercase; font-size:11px; font-weight:bold; background:url(https://cdn.shopify.com/s/files/1/1854/4327/files/down_ar.png?10114004713734943297)98% 12px no-repeat; cursor:pointer;}
.size_guide_accordian_up_arrow{background:url(https://cdn.shopify.com/s/files/1/1854/4327/files/up_arr.png?10114004713734943297)98% 12px no-repeat;}
.size_guide_accordian_down_arrow{background:url(https://cdn.shopify.com/s/files/1/1854/4327/files/down_ar.png?10114004713734943297)98% 12px no-repeat;}
tbody > tr > td{font-size:12px !important; font-weight:bold; border:1px solid #000 !important; padding: 5px 5px !important;}
.left_right_border_none{border-left:1px solid #fff !important; border-right:1px solid #fff !important; height:20px;}
#accordian_two{display:none;}
#accordian_three{display:none;}
#accordian_four{display:none;}
.accordian_four{border-bottom:1px solid #999;}
.table-bordered>thead>tr>th{border:1px solid #000 !important;}
.black_color{color:#000;}
.boxshadow .main .field__input{
	border-radius: 0 !important;
    border: 2px solid #e7cfcf !important;
}
/*5 May*/
.help_and_info_menu{margin:0; padding:0; padding-left:15px;}
.help_and_info_menu li{margin:0; padding:0; list-style:none; line-height:30px;}
.help_and_info_menu li a{color:#000; font-family:Arial, Helvetica, sans-serif; border-bottom:2px solid #fff; padding-bottom:1px;}
.help_and_info_menu li a:hover{border-bottom:2px solid #e7bfbf; text-decoration:none;}
.size_guide_title{padding:5px 0; font-size:30px; color:#000; margin-bottom:0px; font-weight:bold;}
.float_left{float:left;}
.please_note_txt{font-size:16px; color:#000; font-weight:bold; margin:10px 0;}
ol.inch_radio_btn{margin:0; padding:0;}
table.inch_centimeter{border:none !important;}
table.inch_centimeter tr td{border:none !important; padding:0 2px !important;}
table.inch_centimeter tr th{border:none !important; padding:2px 2px 5px 2px !important; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.size_bg_color{background:#e7e7e7; text-align:center; padding:10px 0; text-transform:uppercase;}
.bust_bg_color{background:#9b9b9b; text-align:center; padding:10px 0; color:#fff; text-transform:uppercase;}
.size_bg_color2{background:#f7f7f7; text-align:center; padding:8px 0; text-transform:uppercase;}
.size_bg_color_2_2{background:#e1e1e1; text-align:center; padding:8px 0; text-transform:uppercase;}
.size_bg_color_2_3{background:#eeeeee; text-align:center; padding:8px 0; text-transform:uppercase;}
ol.inch_radio_btn li{
  color: #000;
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-left: -20px;
  margin-top:-20px;
}

ol.inch_radio_btn li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ol.inch_radio_btn li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 16px;
  padding: 27px 25px 25px 50px;
  margin: 3px 0;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ol.inch_radio_btn li:hover label{
	color: #000;
}

ol.inch_radio_btn li .check{
  display: block;
  position: absolute;
  border: 2px solid #999;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 30px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

ol.inch_radio_btn li:hover .check {
  border: 2px solid #999;
}

ol.inch_radio_btn li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 12px;
	width: 12px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

ol.inch_radio_btn li input[type=radio]:checked ~ .check {
  border: 2px solid #999;
}

ol.inch_radio_btn li input[type=radio]:checked ~ .check::before{
  background: #e7bfbf;
}

ol.inch_radio_btn li input[type=radio]:checked ~ label{
  color: #555;
}

.custom-img strong {
    font-size: 13px;
  color:#000;
}
.custom-img strong a {
    color: #e7bfbf;
}
.custom-measure p {
    font-size: 13px;
  color:#000;
}
.custom-measure {
    padding-top: 20px;
}
.custom-measure {
    padding-top: 20px;
}
.delivery_guide_title {
    padding: 5px 0;
    font-size: 30px;
    color: #000;
    margin-bottom: 0px;
    font-weight: bold;
}
.cost {
    margin: 0 0 6px 0;
    display: inline-block;
}
#tab-1,#tab-2{
	display: none;
}




/* Style the tab content */
.tabcontent {
    display: none;
}
a.tablinks.active {
    border-bottom: 2px solid #e7bfbf;
}
.cost h5,.status h5 {
    font-size: 15px;
}
  .help_and_info_menu li a:hover {
    cursor:pointer;
  }
</style>

<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a  class="tablinks" onclick="opentab(event, 'contact')" >Contact Us</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'payment-option')" >Payment Options</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'ordering')" >Ordering</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'shipping')" >Shipping &amp; Delivery</a></li>
<li><a  class="tablinks active" onclick="opentab(event, 'size-guide')" >Size Guide</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'story')" >Our Story</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'affiliates')" >Affiliates</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'status')" >Order Status</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'order-payment')" >Order &amp; Payment</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'information')" >Delivery Information</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'return')" >Return &amp; Exchanges</a></li>
<li><a  class="tablinks" onclick="opentab(event, 'international-order')" >International Orders</a></li>
</ul>
</div>
</div>

<div class="col-sm-9">
<div id="size-guide" class="tabcontent">
<div class="size_guide_title">Size Guide</div>

<div>

<div class="float_left">
<ol class="inch_radio_btn">
<li>
<input type="radio" id="inches" name="selector" checked>
<label for="inches">Inches</label>    
<div class="check"><div class="inside"></div></div>
</li>            
</ol>
</div>

<div class="float_left">
<ol class="inch_radio_btn">
<li>
<input type="radio" id="centimiters" name="selector">
<label for="centimiters">Centimeters</label>    
<div class="check"><div class="inside"></div></div>
</li>            
</ol>
</div>
<div class="clearfix"></div>

<div class="please_note_txt">Please note all conversions are approximate and may vary by label, brand, or personal preference of fit.</div>

<div>
<table class="table table-bordered inch_centimeter">
    <thead>
      <tr>
        <th width="15%"><div class="size_bg_color">Size</div></th>
        <th width="15%"><div class="size_bg_color">US/Canada</div></th>
        <th width="15%"><div class="size_bg_color">UK</div></th>
        <th width="15%"><div class="bust_bg_color">Bust</div></th>
        <th width="15%"><div class="bust_bg_color">Natural Waist</div></th>
        <th width="15%"><div class="bust_bg_color">Drop Waist</div></th>
        <th width="10%"><div class="bust_bg_color">Hips</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="size_bg_color">XXS</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XS</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">S</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">M</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">L</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XL</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
    </tbody>
  </table>
</div>

</div>

<div class="col-sm-5 custom-img"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1854/4327/files/image.jpg?14402141290854078753" width="473" height="402" alt="size">
<strong>Question about size? Why don’t you <a href="#">contact us</a>?</strong>
</div>
<div class="col-sm-7 custom-measure">
<h4><strong>Measurements Should be taken directly on your body</strong></h4>

<p>Bust<br>Measure under your arms at the fullest part of your bust. Keep the tape level.</p>
<p>Natural Waist<br>Measure around your natural waistline, keeping the tape comfortably loose. This is the narrowest part of the body between the ribs and the hips.</p>
<p>Drop Waist<br>Measure 1 1/2 inches below your natural waistline.</p>
<p>Hips<br>Stand with your feet together and measure around the fullest part of your hips.</p>

</div>


</div>
<div class="clearfix"></div>

<div id="information" class="tabcontent">
<div class="delivery_guide_title">Delivery Information</div>

<div class="cost">
	<h5>Delivery Costs</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>	
</div>
<div class="status">
	<h5>Delivery Status</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		
</div>
</div>
  
  <div id="contact" class="tabcontent"></div>
  <div id="payment-option" class="tabcontent"></div>
  <div id="ordering" class="tabcontent"></div>
  <div id="shipping" class="tabcontent"></div>
  <div id="storyaffiliates" class="tabcontent"></div>
  <div id="status" class="tabcontent"></div>
  <div id="order-payment" class="tabcontent"></div>
  <div id="information" class="tabcontent"></div>
  <div id="return" class="tabcontent"></div>
  <div id="international-order" class="tabcontent"></div>
  
</div>

</div>
  
</div>


<script type="text/javascript">
  $(document).ready(function(){
  	document.getElementById('size-guide').style.display = "block";
  });
    
function opentab(evt, selectedTab) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(selectedTab).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>