<div class="container custom-space">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks active" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  
<div class="col-sm-9">
	<div class="main-wrap">
      <div class="order-status-form">
        <form method="post" action="" accept-charset="UTF-8">
          <div class="title">Order Status</div>
          <p class="sub-head">Enter your order number and billing address postal code to find your order.</p>

          <label>Order number</label>
          <input type="text" class="form-control" name="customer[email]" placeholder="">
          <label>Billing address postal code</label>  
          <input type="text" class="form-control" name="customer[password]" placeholder="">
          <!--<button type="submit" class="btn">Sign In</button>-->
          <button type="submit" class="btn cust-order">submit</button>
          <!-- /form -->            
        </form>
      </div>
	</div>
</div>


</div>
  
</div>


