<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks active" >International Orders</a></li>
</ul>
</div>
</div>

<div class="col-sm-9">

<div id="international-order" class="tabcontent">

<div class="delivery_guide_title">International Orders</div>

<div class="inter">
		<p class="head">Return Policy</p><p>
If you would like your order delivered outside of the UK please visit us at <br> https://www.freepeople.com/uk/country/all/countries/ to see a complete list of countries we deliver to.</p>
</div>
<div class="inter">
	<p class="head">Currency</p>
	<p>freepeople.com/uk prices are displayed and charged in GBP and are inclusive of VAT and import fees.</p>
</div>
<div class="inter">
	<p>If you would like to display another currency, please visit us at https://www.freepeople.com/uk/country/all/countries/. Please note you will be charged in US Dollars when shopping on the US/Global website.</p>
</div>
<div class="inter">
	<p class="head">International Returns</p>
	<p>For purchases from freepeople.com, please visit <a class="link" href="https://www.freepeople.com/uk/help/returns-exchanges/">https://www.freepeople.com/uk/help/returns-exchanges/</a> for instructions on returning your package.</p>
</div>

</div>
  
</div>

</div>
  
</div>