<div class="container custom-space">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks active" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>

<div class="col-sm-9">
	<div id="order-payment" class="tabcontent">
<div class="delivery_guide_title">Order & Payment</div>

<div class="pay-order">
	<p class="head">Ordering</p>
	<p>On the Review page during checkout, select the "Place Order" button to complete your purchase. Please review all shipping information carefully. Upon placing your order, a confirmation page will display your order number. A Free People Order Confirmation with your order details will be sent to you by e-mail. You can also check the status of your order by logging into My Account. Click on "Order History" to review order status and to obtain a tracking number.</p>
</div>

<div class="pay-order">
	<p class="head">Payment</p>
	<p>We accept: Visa, Visa Electron, MasterCard, Maestro, American Express, Solo, JCB, PayPal, and Free People Gift Cards issued in GBP.</p>
</div>

<div class="pay-order">
	<p class="head">When Will I Be Charged?</p>
	<p>Upon placing your order, your form of payment will be authorized (not charged). This authorization ensures the funds for the order are available. Once your order has shipped, your form of payment will then be charged. If your order is cancelled for any reason, the authorization will be removed automatically in 5-7 business days. The exact timeframe for removal is determined by you card's issuing bank.</p>
</div>

<div class="pay-order">
	<p class="head">Change / Cancel My Order</p>
	<p>Please call us at +44 (0) 0203 219 8999 or 0800 012 1400 immediately after placing your order to make any changes. There may be some instances where we are unable to modify your order, we apologise for any inconvenience and will do our best to assist you.</p>
</div>

<div class="pay-order">
<p>Under the UK Distance Selling Regulations you have 7 working days (from the day after you receive your goods) to cancel the contract for your order with us.
</p><p>
In this case we will issue you with a full refund. You will need to return the entire order if you have already received it. Items must be in their original condition and in their original packaging. Items must not to be worn, altered or washed and will be inspected on their return.</p>
</div>
</div>
</div>  
  
</div>
  
</div>