<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks active" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>


<div class="col-sm-9">
    
  <div id="payment-option" class="tabcontent">
    <div class="delivery_guide_title">Payment Options</div>
    <div class="pay-opt">
      <p class="head">Payment</p><p>
      We accept: Visa, Visa Electron, MasterCard, Maestro, American Express, Solo, JCB, PayPal, and Free People Gift Cards issued in GBP.</p>
    </div>
    <div class="pay-opt">
      <p class="head">Taxes</p><p>
      Prices on freepeople.com/uk are inclusive of VAT.
      Our website calculates VAT automatically. If you are shipping to a VAT exempt location, please <a class="link" href=""> contact us </a>after placing your order and we’ll be happy to adjust your total.</p>
    </div>

  </div>
  </div>

</div>
  
</div>