<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks active" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  
  


<div class="col-sm-9">
  <div id="ordering" class="tabcontent">
    <div class="delivery_guide_title">Ordering</div>
    <div class="Ordering">
      <p class="head">Ordering</p>
      <p>On the Review page during checkout, select the "Place Order" button to complete your purchase. Please review all shipping information carefully. Upon placing your order, a confirmation page will display your order number. A Free People Order Confirmation with your order details will be sent to you by e-mail. You can also check the status of your order by logging into My Account. Click on "Order History" to review order status and to obtain a tracking number.</p></div>


    <div class="Ordering">
      <p class="head">Backorder</p><p>
      We occasionally have merchandise for sale that has not yet been received at our warehouse, or that has sold out and is being restocked. You can still order these items to reserve your favorite color or size. We'll ship it to you when supplies are replenished. The expected ship date for backordered merchandise is listed on the product page and in your Shopping Bag during checkout. We will contact you via email if the item's replenishment date changes. Backordered items cannot be expedited and will ship with standard shipping once they arrive at our warehouse.</p></div>

    <div class="Ordering">
      <p class="head">Price Adjustment Policy</p><p>
      Should an item from the website or catalogue be marked down, please contact us within 14 days from the date of dispatch, we will honour a one time price adjustment. Credits will be applied to the original form of payment and will be reflected in 2-4 business days. If you paid with a e-gift card, a new e-gift card will be issued for the amount of the credit. Please <a class="link" href=""> contact us </a>to request a price adjustment.</p></div>
    <p>
      We are unable to process price adjustments for merchandise purchased at our Free People store locations or independent boutiques and department stores. Please contact the store directly for assistance.</p>
    <p>
      Please note, we are unable to offer price adjustments for temporary promotions or discounts. Promotions or discounts cannot be applied retroactively to orders placed before the promotion discount was activated.</p>
  </div>
  </div>

</div>
  
</div>