<div class="container custom-space">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks active" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  
  
  

  <div class="col-sm-9">
  	<div id="shipping" class="tabcontent">
<div class="delivery_guide_title">Shipping & Delivery</div>

<div class="shipping">
	
<p class="head">Delivery Costs</p>
<p>Most orders will be dispatched within a day of ordering (we do not ship Saturdays, Sundays or Bank Holidays), however some orders will take 24-48 hours to process. Orders may ship in multiple packages.</p>

<p>We deliver orders to Great Britain (England, Wales, Scotland and Northern Ireland).</p>



<div class="ship-wrap">
	
  <table class="table table-bordered shipping">
    <thead>
      <tr style="background: #fbf6f3;">
        <th width=""><div class="size_bg_color1">UK</div></th>
        <th width=""><div class="size_bg_color1">Estimated Delivery Time</div></th>
        <th width=""><div class="size_bg_color1">Under £75 GBP</div></th>
        <th width=""><div class="bust_bg_color1">Over £75 GBP</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="size_bg_color1">Standard Shipping</div></td>
        <td><div class="size_bg_color21">5-8 business days</div></td>
        <td><div class="size_bg_color21">£5 Flat Rate</div></td>
        <td><div class="size_bg_color21">FREE!</div></td>
      </tr>
      <tr style="background:#e0e0e0;">
        <td><div class="size_bg_color_2_21">Faster Shipping</div></td>
        <td><div class="size_bg_color_2_31">3-6 business days</div></td>
        <td><div class="size_bg_color_2_31">£7 Flat Rate</div></td>
        <td><div class="size_bg_color_2_31">£7 Flat Rate</div></td>
      </tr>
    </tbody>
  </table>
  </div>




<p>Standard shipping orders will be delivered with either Hermes, Royal Mail, or Aramex Couriers. Your Delivery Confirmation Email will tell you which carrier is handling your package and how you can track your package. Faster shipping will be delivered by DHL.</p>

<p>If you would like delivery outside of the regions listed above we deliver orders to more than 100 other countries. Click here to visit us at freepeople.com.</p>

<p class="head">Furniture & Oversized Items</p>

<p>We regret that we are unable to deliver furniture and oversized items outside of the contiguous US. If you would like to order furniture or an oversized item to a US address, please visit us at freepeople.com.</p>

<p class="head">Delivery Status</p>

<p>As soon as your order is dispatched we will send you an email with your tracking information. Information about any backordered or cancelled items will be included in a separate email. You may also view your order online by logging into your account and selecting "Order History."</p>
</div>


</div>
  </div>

</div>
  
</div>