<div class="container custom-space">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks  active" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  

<div class="col-sm-9">
  <div id="job" class="tabcontent">
    <div class="delivery_guide_title">Job Opportunities</div>

    <div class="job">
      <p class="head">Who We Are</p>
      <p>
        Free People was the name first given to what would eventually become the URBN Inc. family, and resurfaced in 1984 to identify the brand as a wholesale collection. Today, Free People has grown to include, in addition to wholesale, both a significant retail and online presence. Currently, we operate over 100 stores in the U.S. and Canada, as well as three wholesale showrooms whose teams have brought Free People to over 1,200 specialty boutiques and department stores across the globe. In all phases of Free People, we look to inspire our customers, our girls – the sweet and sultry, dreamy and tom-girl - with our assortment of apparel and accessories.</p>

      <p class="head">Working at I Saw It First</p>
      <p>
        Here at Free People we strive to create a soulful culture and that involves committed, passionate employees. We foster this culture through hiring and retaining smart, creative people who through communication and collaboration are able to deliver the story of our brand. With that in mind, some of the experiences that we look for in our prospective employees and interns include:</p>

      <p>
        - Previous leadership roles <br>
        - Extracurricular activities <br>
        - Internship experience <br>
        - Relevant job experience <br>
        - Blogs / Relevant samples of work <br>
        - Fashion experience
      </p>

      <p class="head">What We Look for in Employees</p>
      <p>Passion / Happiness / Professionalism / Commitment / Creativity / Hard work / Honesty / Focus/ Loyalty / Spirit / Intelligence / Pride / Curiosity</p>

    </div>
  </div>
  </div>

</div>
  
</div>