<div class="container">
<div class="row">

<div class="col-sm-3">
<div style="margin-top:20px;">

<h4><strong>Help &amp; Info</strong></h4>
<ul class="help_and_info_menu">
<li><a href="/pages/contact-us"  class="tablinks"  >Contact Us</a></li>
<li><a href="/pages/payment-options"  class="tablinks" >Payment Options</a></li>
<li><a href="/pages/ordering"  class="tablinks" >Ordering</a></li>
<li><a href="/pages/shipping-delivery"  class="tablinks" >Shipping &amp; Delivery</a></li>
<li><a href="/pages/size-guide"  class="tablinks active" >Size Guide</a></li>
<li><a href="/pages/our-story"  class="tablinks" >Our Story</a></li>
<li><a href="/pages/job-opportunities"  class="tablinks" >Job Opportunities</a></li>
<li><a  href="/pages/affiliates" class="tablinks" >Affiliates</a></li>
<li><a href="/pages/order-status"  class="tablinks" >Order Status</a></li>
<li><a href="/pages/ordering-payment"  class="tablinks" >Order &amp; Payment</a></li>
<li><a href="/pages/delivery-information"  class="tablinks" >Delivery Information</a></li>
<li><a href="/pages/returns-exchanges"  class="tablinks" >Return &amp; Exchanges</a></li>
<li><a href="/pages/international-orders"  class="tablinks" >International Orders</a></li>
</ul>
</div>
</div>
  
  
  <div class="col-sm-9">
  <div id="size-guide" class="tabcontent">
<div class="size_guide_title">Size Guide</div>

<div>

<div class="float_left">
<ol class="inch_radio_btn">
<li>
<input type="radio" id="inches" name="selector" checked>
<label for="inches">Inches</label>    
<div class="check"><div class="inside"></div></div>
</li>            
</ol>
</div>

<div class="float_left">
<ol class="inch_radio_btn">
<li>
<input type="radio" id="centimiters" name="selector">
<label for="centimiters">Centimeters</label>    
<div class="check"><div class="inside"></div></div>
</li>            
</ol>
</div>
<div class="clearfix"></div>

<div class="please_note_txt">Please note all conversions are approximate and may vary by label, brand, or personal preference of fit.</div>

<div>
<div class="show-size-inches">
<table class="table table-bordered inch_centimeter">
    <thead>
      <tr>
        <th width="15%"><div class="size_bg_color">Size</div></th>
        <th width="15%"><div class="size_bg_color">US/Canada</div></th>
        <th width="15%"><div class="size_bg_color">UK</div></th>
        <th width="15%"><div class="bust_bg_color">Bust</div></th>
        <th width="15%"><div class="bust_bg_color">Natural Waist</div></th>
        <th width="15%"><div class="bust_bg_color">Drop Waist</div></th>
        <th width="10%"><div class="bust_bg_color">Hips</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="size_bg_color">XXS</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XS</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">S</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">M</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">L</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">32"</div></td>
        <td><div class="size_bg_color2">24"</div></td>
        <td><div class="size_bg_color2">26.25"</div></td>
        <td><div class="size_bg_color2">34"</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XL</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">32"</div></td>
        <td><div class="size_bg_color_2_3">24"</div></td>
        <td><div class="size_bg_color_2_3">26.25"</div></td>
        <td><div class="size_bg_color_2_3">34"</div></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="show-size-centimeter" style="display:none;">
    <table class="table table-bordered inch_centimeter">
    <thead>
      <tr>
        <th width="15%"><div class="size_bg_color">Size</div></th>
        <th width="15%"><div class="size_bg_color">US/Canada</div></th>
        <th width="15%"><div class="size_bg_color">UK</div></th>
        <th width="15%"><div class="bust_bg_color">Bust</div></th>
        <th width="15%"><div class="bust_bg_color">Natural Waist</div></th>
        <th width="15%"><div class="bust_bg_color">Drop Waist</div></th>
        <th width="10%"><div class="bust_bg_color">Hips</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="size_bg_color">XXS</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">81.28</div></td>
        <td><div class="size_bg_color2">60.96</div></td>
        <td><div class="size_bg_color2">66.675</div></td>
        <td><div class="size_bg_color2">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XS</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">81.28</div></td>
        <td><div class="size_bg_color_2_3">60.96</div></td>
        <td><div class="size_bg_color_2_3">66.675</div></td>
        <td><div class="size_bg_color_2_3">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">81.28</div></td>
        <td><div class="size_bg_color_2_3">60.96</div></td>
        <td><div class="size_bg_color_2_3">66.675</div></td>
        <td><div class="size_bg_color_2_3">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">S</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">81.28</div></td>
        <td><div class="size_bg_color2">60.96</div></td>
        <td><div class="size_bg_color2">66.675</div></td>
        <td><div class="size_bg_color2">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">81.28</div></td>
        <td><div class="size_bg_color2">60.96</div></td>
        <td><div class="size_bg_color2">66.675</div></td>
        <td><div class="size_bg_color2">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">M</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">81.28</div></td>
        <td><div class="size_bg_color_2_3">60.96</div></td>
        <td><div class="size_bg_color_2_3">66.675</div></td>
        <td><div class="size_bg_color_2_3">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">&nbsp;</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">81.28</div></td>
        <td><div class="size_bg_color_2_3">60.96</div></td>
        <td><div class="size_bg_color_2_3">66.675</div></td>
        <td><div class="size_bg_color_2_3">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">L</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">81.28</div></td>
        <td><div class="size_bg_color2">60.96</div></td>
        <td><div class="size_bg_color2">66.675</div></td>
        <td><div class="size_bg_color2">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color">&nbsp;</div></td>
        <td><div class="size_bg_color2">00</div></td>
        <td><div class="size_bg_color2">2</div></td>
        <td><div class="size_bg_color2">81.28</div></td>
        <td><div class="size_bg_color2">60.96</div></td>
        <td><div class="size_bg_color2">66.675</div></td>
        <td><div class="size_bg_color2">86.36</div></td>
      </tr>
      <tr>
        <td><div class="size_bg_color_2_2">XL</div></td>
        <td><div class="size_bg_color_2_3">00</div></td>
        <td><div class="size_bg_color_2_3">2</div></td>
        <td><div class="size_bg_color_2_3">81.28</div></td>
        <td><div class="size_bg_color_2_3">60.96</div></td>
        <td><div class="size_bg_color_2_3">66.675</div></td>
        <td><div class="size_bg_color_2_3">86.36</div></td>
      </tr>
    </tbody>
  </table>
  </div>
  
  
</div>

</div>

<div class="col-sm-5 custom-img"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1854/4327/files/image.jpg?14402141290854078753" width="473" height="402" alt="size">
<strong>Question about size? Why don’t you <a href="#">contact us</a>?</strong>
</div>
<div class="col-sm-7 custom-measure">
<h4><strong>Measurements Should be taken directly on your body</strong></h4>

<p>Bust<br>Measure under your arms at the fullest part of your bust. Keep the tape level.</p>
<p>Natural Waist<br>Measure around your natural waistline, keeping the tape comfortably loose. This is the narrowest part of the body between the ribs and the hips.</p>
<p>Drop Waist<br>Measure 1 1/2 inches below your natural waistline.</p>
<p>Hips<br>Stand with your feet together and measure around the fullest part of your hips.</p>

</div>


</div>
  </div>
  
  
  
  
 

</div>
  
</div>

<script>
  $(document).ready(function(){
  	$('#centimiters').click(
function(){
	$('.show-size-centimeter').show();
	$('.show-size-inches').hide();
}
);
$('#inches').click(
function(){
	$('.show-size-inches').show();
	$('.show-size-centimeter').hide();
}
);
  });
</script>